@model IEnumerable<WebRestaurant.Shared.Model.PreOrder>

@{
    ViewData["Title"] = "Оформление заказа";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int Index = 0;
}

<table class="table">
    <form asp-action="Pricol" method="post">

        <div class="form-group">
            <label class="control-label">Выберите столик</label>
            <select class="form-control single-input" name="DinnerTableId" asp-items="ViewBag.DinnerTableId"></select>
        </div>

        <div class="form-group">
            <label class="control-label">Выберите время</label>
            <input class="form-control single-input" name="Time" type="datetime-local" class="form-control" />
        </div>

        <div class="form-group">
            <label class="control-label">Выберите продолжительность (мин.)</label>
            <select class="form-control single-input" name="Duration" asp-items="ViewBag.DurationList"></select>
        </div>

        @if (Model.Any())
        {
        <thead>
            <tr>
                <th>
                        @Html.DisplayNameFor(model => model.DishId)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    Цена
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                            @Html.DisplayFor(modelItem => item.Dish.Name)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                            @{
                                double Price = item.Amount * (double)item.Dish.Price;
                            } @Price руб.
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@Index">Удалить</a>
                    </td>
                </tr>
                    Index++;
                }
        </tbody>
        }
        else
        {
        <span>Нет заказов</span>
        }

        <div class="form-group">
            <input type="submit" value="Заказать" class="genric-btn primary e-large" />
        </div>
    </form>
    
    
</table>

